body { background: black; color: white; }

/* NAV */
nav.main{ display: block; height: 30px; }

nav.main .logo > img{ height: 30px; transition-duration: 0.3s; transition-property: transform; cursor: pointer;}
nav.main:hover .wrapper{ width: 300px }
nav.main:hover .logo > img{ transform: rotateZ(180deg); }
nav.main a {color: #777; cursor: pointer; display: inline-block;}
nav.main a:hover { text-decoration: underline;}
nav.main .wrapper {
    display: flex;
    flex-flow: row;
    width: 30px;
    height: 30px; transition-duration: 0.3s; transition-property: width; overflow: hidden;
}
nav.main .menu{ height: 30px; line-height: 30px; vertical-align: top}

/* Image wrapper */
.shape { margin-bottom: 40px; display: block; border: 0 !important;}
.svg-wrapper { border: 1px solid #333; margin: 0 auto; padding: 48px;
    /* box-sizing: border-box */
}

.label{ font-family: Freemono, Sans, Arial; }

a { color: #333; text-decoration: none}
a:hover { color: #444; text-decoration: underline}