body { background: black; color: white; }

/* NAV */
nav.main{ display: block; height: 40px; position: fixed; background: rgba(1,1,1,0.01) }

nav.main .logo > svg{ height: 30px; width: 30px; transition-duration: 0.3s; transition-property: transform; cursor: pointer;}
nav.main:hover .wrapper{ width: 500px }
nav.main:hover .logo > svg{ transform: rotateZ(180deg); }
nav.main a {color: #777; cursor: pointer; display: inline-block; padding-left: 15px}
nav.main a:hover { text-decoration: underline;}
nav.main .wrapper {
    display: flex;
    flex-flow: row;
    width: 30px;
    height: 30px; transition-duration: 0.3s; transition-property: width; overflow: hidden;
}
nav.main .menu{ height: 30px; line-height: 30px; vertical-align: top}

nav.textures{
    position: fixed; height: 64px; height: 80%;
    overflow-y: auto;
}
.texture{ height: 64px; width: 64px; display: block; margin-bottom: 5px; cursor: pointer }

/* Image wrapper */
.shape { margin-bottom: 40px; display: block; border: 0 !important;}
.svg-wrapper { border: 1px solid #333; margin: 0 auto; padding: 48px;
    /* box-sizing: border-box */
}

.label{ font-family: Freemono, Sans, Arial; }

#images{ text-align: center}

a { color: #333; text-decoration: none}
a:hover { color: #444; text-decoration: underline}