.wave-container{
    animation-name: mv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotateY(30deg)
}

.wave-wrapper{
    transform: rotateZ(-30deg);
    transform-origin: 320px
}


@keyframes mv {
    from { transform: translate(-162px, 0); }
    to   { transform: translate(0, 0); }
 }