body { font-family: monospace; margin: 0}
.menu {  position: absolute; top: 10px; left: 10px; color: #777}
.menu a { display: inline-block; margin-left: 10px; cursor: pointer; }
.menu a:hover { color: #999 }
